[submodule "themes/next"]
	path = themes/next
	url = https://github.com/liuhuijun11832/hexo-theme-next.git
[submodule "themes/next6"]
	path = themes/next6
	url = https://github.com/liuhuijun11832/hexo-theme-next-6.git
